.quadrato{
    height: 100px;
    border: 1px #fff solid;
}

.black{
    background: black;
}

.red{
    background: red;
}

.bordeaux{
    background: brown;
}

.gray{
    background: rgb(194, 194, 194);
}

.white{
    background: #fff;
}